.container{
    padding-bottom: 40px;
}
.btn-buy-now{
    background-color: black;
    color: white;
    border-radius: 8px;
}
.carousel-indicators li{
    background-color: orange;
    border-radius: 8px;
}
.carousel-item{
    padding: 50px 90px;
}
.bg-image{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 480px;
}
.card-footer{
    background-color: white;
    border: none;
    text-align: center;
    padding-bottom: 50px;

}
.card{
    border: none;
    box-shadow: 4px 4px 10px;
    border-radius: 8px;
}












