.btn-buy-now{
    background-color: black;
    color: white;
    border-radius: 8px;
}
.carousel-indicators li{
    background-color: orange;
    border-radius: 8px;
}
.carousel-item{
    padding: 50px 90px;
}
.bg-image{
    background-color: red;
}

                    
[










==
]